@page
@model MinesModel

@{
    ViewData["Title"] = "Protosweeper";
}

<h1>Difficulty: @Model.Difficulty</h1>

<h2 id="result" hidden="hidden"></h2>

<div class="row">
    <table>
        <tbody>
        @for (var y = 0; y < Model.Height; y++)
        {
            <tr>
                @for (var x = 0; x < Model.Width; x++)
                {
                    var id = $"cell-{x}-{y}";
                    <td>
                        <div class="cell" id="@id"></div>
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>

</div>
<p id="progress" hidden="hidden"></p>

<script src="site.js"></script>
<script type="text/javascript">
    window.onload = () => {
        initialise("@Model.WsUrl", "@Model.Difficulty");
    };
</script>